/* V3.0: Workout Status Details */

.workout__location {
  grid-column: span 2;
}

.workout__weather {
  grid-column: span 2;

  margin-bottom: 1rem;
}

.workout__location .workout__value,
.workout__weather .workout__value {
  font-size: 1.5rem;
}

.workout__location .workout__icon,
.workout__weather .workout__icon {
  font-size: 1.5rem;
}

.workout__weather .workout__unit {
  font-size: 1.2rem;
}
